
.text-left{
    margin-left: 5%;
    margin-top: 5%;
}
mat-card{
    border: 4px solid silver;
    border-style: groove;
    background-color: rgba(192, 192, 192, 0.349);
    max-width: 400px;
    min-height: 800px;
   
}
span{
    font-size: larger;
    font-weight: bolder;
}
.r-card{
    margin-left: 22%;
    margin-top: -33.5%;
    max-width: 1500px;
    min-height: 800px;
}
